web dev/.vscode/settings.json
web dev/RANDOM/1.html
web dev/RANDOM/Assignment1
web dev/RANDOM/Assignment2.txt
web dev/RANDOM/html
web dev/RANDOM/intro.html
web dev/RANDOM/max.js
web dev/RANDOM/mystyle.css
web dev/RANDOM/new.html
web dev/RANDOM/new1.html
web dev/RANDOM/reverse.js
web dev/RANDOM/script.html
web dev/RANDOM/script.js
web dev/quizgame/app.js
web dev/quizgame/index.html
web dev/quizgame/style.css
web dev/snakegamenew/app.js
web dev/snakegamenew/css.css
web dev/snakegamenew/index.html
web dev/snakegamenew/.vscode/settings.json
web dev/snakegamepec/app.js
web dev/snakegamepec/index.html
web dev/snakegamepec/style.css
web dev/tictactoe/index.html
web dev/tictactoe/script.js
web dev/tictactoe/style.css
web dev/tictactoenew/index.html
web dev/tictactoenew/script.js
web dev/tictactoenew/style.css
web dev/todolist/index.html
web dev/todolist/script.js
web dev/todolist/style.css
web dev/todolist2/index.html
web dev/todolist2/script.js
web dev/todolist2/style.css
web dev/todolistnew/index.html
web dev/todolistnew/script.js
web dev/todolistnew/style.css
web dev/todolistnew/.vscode/settings.json
java/.idea/.gitignore
java/.idea/java.iml
java/.idea/misc.xml
java/.idea/modules.xml
java/.idea/prettier.xml
java/out/production/recursion/learn2.class
java/out/production/recursion/learn2$learn2.class
java/out/production/recursion/Main.class
java/out/production/recursion/str.class
java/recursion/recursion.iml
java/recursion/src/learn.java
java/recursion/src/learn2.java
java/recursion/src/Main.java
java/recursion/src/str.java
.vscode/settings.json
.idea/modules.xml
.idea/misc.xml
.idea/PEC.iml
